html {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

body {
    height: 200%;
}

#content {
    height: 98%;
    max-width: 1600px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

#vis-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#color {
    height: 10%;
}

#visA {
    width: 100%;
    height: 40%;
}

#visB {
    width: 100%;
    height: 50%;
}

#bCharts {
    display: flex;
    flex-direction: row;
}

.chart {
    height: 100%;
}

#visA {
    padding: 10px;
}

.tick line, .domain {
    display: none;
}

#matrix {
    width: 50%;
}

#matrix .tick:hover {
    cursor: pointer;
    font-weight: bold;
}

#matrix rect.cell:hover {
    cursor: pointer;
    stroke: black;
    stroke-width: 2;
}

#bar {
    width: 50%;
}

#legend {
    height: 100%;
    padding: 20px;
}

/* Tooltip: https://github.com/UBC-InfoVis/2021-436V-case-studies/blob/097d13b05d587f4fab3e3fcd23f5e99274397c2c/case-study_measles-and-vaccines/css/style.css */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 100px;
    color: #333;
    pointer-events: none;
}

#waveInput {
    width: 100%;
}

#groupSelect {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}