html {
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
}

body {
    height: 100%;
}

#content {
    height: 98%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

#top {
    padding: 1px;
    text-align: center;
}

#vis-container {
    height: 100%;
    display: flex;
}

#vis-container.landscape {
    flex-direction: row;
}

.landscape #visA {
    width: 50%;
}

.landscape #visB {
    width: 50%;
}

#vis-container.portrait {
    flex-direction: column;
}

.portrait #visA {
    height: 50%;
}

.portrait #visB {
    height: 50%;
}

.tick line, .domain {
    display: none;
}

/* Tooltip: https://github.com/UBC-InfoVis/2021-436V-case-studies/blob/097d13b05d587f4fab3e3fcd23f5e99274397c2c/case-study_measles-and-vaccines/css/style.css */
#tooltip {
    position: absolute;
    display: none;
    background: #fff;
    box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
    border: 1px solid #ddd;
    font-size: 12px;
    font-weight: 500;
    padding: 8px;
    min-width: 100px;
    color: #333;
}